Repository violetbeach/verby-server: changes, and which CircleCI parameters are due for each by the changed paths.
All: api-server, batch-server, consumer-server, core

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            api-server/.* api-server true
            batch-server/.* batch-server true
            internal-consumer-server/.* consumer-server true
            core/.* core true

chore: orbs 수정 (path-filtering 중복 제거)
  .circleci/continue-config.yml
Due: none

chore: base revision 동적으로 변경
  .circleci/config.yml
Due: none

chore: base revision 변경 -> master
  .circleci/config.yml
Due: none

chore: circleci setup -> true
  .circleci/config.yml
Due: none

chore: appspec.yml 불필요한 args 제거 (미동작)
  scripts/api-server/appspec.yml
  scripts/batch-server/appspec.yml
  scripts/consumer-server/appspec.yml
Due: none

docs: verby 소개글 추가
  README.md
Due: none

docs: links.md 추가
  README.md
  docs/links.md
Due: none

refactor: Lombok @UtilityClass 적용 (생성자 방지)
  api-server/src/main/java/com/verby/apiserver/util/ip/ClientIPUtils.java
  core/src/main/java/com/verby/core/storage/StorageUtils.java
Due: api-server, core

refactor: method keyword order (abstract public -> public abstract)
  core/src/main/java/com/verby/core/cover/command/application/CoverStorageService.java
  core/src/main/java/com/verby/core/song/command/application/SongStorageService.java
Due: core

fix: url path 하드 코딩 수정
  core/src/main/java/com/verby/core/cover/infra/CoverS3StorageService.java
  core/src/main/java/com/verby/core/song/infra/SongS3StorageService.java
Due: core

refactor: 정규식 static으로 변경
  core/src/main/java/com/verby/core/user/command/application/PasswordComplexityValidator.java
Due: core

refactor: CursorRequest.hasKey() primitive로 변경
  core/src/main/java/com/verby/core/util/pagination/CursorRequest.java
Due: core

refactor: 메서드명 컨벤션 오타 수정
  internal-consumer-server/src/main/java/com/verby/internalconsumerserver/config/ConsumerConfig.java
Due: consumer-server

refactor: Disabled 테스트 사용하도록 변경
  core/src/main/java/com/verby/core/cover/query/dao/CoverQueryDao.java
  core/src/test/java/com/verby/core/cover/query/dao/CoverQueryDaoTest.java
  core/src/testFixtures/java/config/database/EmbeddedMongoConfig.java
Due: core

refactor: 상수명 컨벤션 적용
  core/src/main/java/com/verby/core/user/command/application/PasswordComplexityValidator.java
Due: core

chore: ci/cd gradle 하위 모듈 테스트도 추가 (buildNedded)
  .circleci/continue-config.yml
Due: none

chore: cicd process 추가 (TODO ec2)
  README.md
  docs/cicd.png
  docs/links.md
Due: none

Update README.md
  README.md
Due: none

docs: 패키지 구조 추가
  README.md
Due: none

docs: Update Readme.md
  README.md
  docs/cicd.png
  docs/links.md
  docs/project-architecture/api-server.png
  docs/project-architecture/batch-server.png
  docs/project-architecture/consumer-server.png
Due: none

docs: Update Readme.md
  docs/project-architecture/batch-server.png
  docs/project-architecture/consumer-server.png
Due: none

docs: Update 패키지 구조
  README.md
Due: none

docs: Readme.md 이미지 다수 추가
  README.md
Due: none

fix: Scheduler cron expression 수정
  batch-server/src/main/java/com/verby/batchserver/cover/WriteBackCoverHitsScheduler.java
Due: batch-server

docs: AuthServer 접근 양방향으로 변경
  docs/project-architecture/api-server.png
Due: none

docs: Update redis pub/sub image
  docs/project-architecture/api-server.png
  docs/project-architecture/batch-server.png
  docs/project-architecture/consumer-server.png
Due: none

test: Spring Context가 캐싱되도록 (2개만 로드) 수정
  api-server/src/main/java/com/verby/apiserver/cover/CoverController.java
  api-server/src/main/resources/static/docs/api-docs.html
  api-server/src/test/java/com/verby/apiserver/common/StorageControllerTest.java
  api-server/src/test/java/com/verby/apiserver/support/presentation/BaseControllerTest.java
  batch-server/src/test/java/com/verby/batchserver/cover/WriteBackCoverHitsSchedulerTest.java
  batch-server/src/test/java/com/verby/batchserver/support/BaseIntegrationTest.java
  core/src/test/java/com/verby/core/artist/command/domain/ArtistRepositoryTest.java
  core/src/test/java/com/verby/core/contest/command/domain/ContestRepositoryTest.java
  core/src/test/java/com/verby/core/cover/query/dao/CoverQueryDaoTest.java
  core/src/test/java/com/verby/core/cover/query/dao/CustomCoverQueryDaoTest.java
  core/src/test/java/com/verby/core/song/command/domain/SongRepositoryTest.java
  core/src/test/java/com/verby/core/support/repository/MainRepositoryTest.java
  core/src/test/java/com/verby/core/support/repository/QueryRepositoryTest.java
  core/src/test/java/com/verby/core/user/command/domain/UserRepositoryTest.java
Due: api-server, batch-server, core

chore: gradle 버전 관리(dependencyManagement)
  api-server/build.gradle
  build.gradle
  core/build.gradle
  internal-consumer-server/build.gradle
Due: api-server, consumer-server, core

style: 일부 테스트 코드 가독성 향상
  api-server/src/test/java/com/verby/apiserver/user/UserPolicyControllerTest.java
  core/src/test/java/com/verby/core/artist/command/domain/ArtistRepositoryTest.java
  core/src/test/java/com/verby/core/contest/command/domain/ContestRepositoryTest.java
  core/src/test/java/com/verby/core/cover/command/application/CoverStorageServiceTest.java
  core/src/test/java/com/verby/core/cover/query/dao/CustomCoverQueryDaoTest.java
  core/src/test/java/com/verby/core/song/command/domain/SongRepositoryTest.java
  core/src/test/java/com/verby/core/support/repository/MainRepositoryTest.java
  core/src/test/java/com/verby/core/user/command/application/SignUpRequestTest.java
  core/src/test/java/com/verby/core/user/command/domain/UserRepositoryTest.java
  core/src/test/java/com/verby/core/user/command/domain/UserTest.java
Due: api-server, core

docs: Notion 페이지 제거
  README.md
Due: none

chore: Tab to 4 Spaces
  README.md
  api-server/build.gradle
  api-server/src/main/java/com/verby/ApiServerApplication.java
  api-server/src/main/java/com/verby/apiserver/cover/CoverController.java
  api-server/src/test/java/com/verby/apiserver/ApiServerApplicationTests.java
  api-server/src/test/java/com/verby/apiserver/user/UserPolicyControllerTest.java
  batch-server/build.gradle
  batch-server/src/main/java/com/verby/BatchServerApplication.java
  batch-server/src/test/java/com/verby/batchserver/BatchServerApplicationTests.java
  build.gradle
  core/src/test/java/com/verby/core/artist/command/domain/ArtistRepositoryTest.java
  core/src/test/java/com/verby/core/contest/command/domain/ContestRepositoryTest.java
  core/src/test/java/com/verby/core/cover/command/application/CoverStorageServiceTest.java
  core/src/test/java/com/verby/core/cover/query/dao/CustomCoverQueryDaoTest.java
  core/src/test/java/com/verby/core/song/command/domain/SongRepositoryTest.java
  core/src/test/java/com/verby/core/support/repository/MainRepositoryTest.java
  core/src/test/java/com/verby/core/support/repository/QueryRepositoryTest.java
  core/src/test/java/com/verby/core/user/command/application/SignUpRequestTest.java
  core/src/test/java/com/verby/core/user/command/domain/UserRepositoryTest.java
  internal-consumer-server/src/main/java/com/verby/internalconsumerserver/cover/CoverQueryModelService.java
Due: api-server, batch-server, consumer-server, core
